:root {
  --white: #fff;
  --black: #000;
  --gray-25: #F1F1F1;
  --gray-50: #F9FAFB;
  --gray-200: #EAEAEA;
  --site-bg-color: #212426;
  --salmon-gradient: linear-gradient(90deg, #FF84B4 0%, #ECBA5A 100%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--site-bg-color);
  color: var(--gray-200);
}

input, textarea, select {
  font-family: inherit;
}

.app {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: min(100%, 75rem);
}

.site-heading {
  background-image: var(--salmon-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.search-input {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--site-bg-color);
}

.search-input::placeholder {
  color: var(--gray-200);
}

.search-icon {
  position: absolute;
  left: 8rem;
  width: 1.5rem;
  cursor: pointer;
}

.movies-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.movie-card {
  position: relative;
  text-align: center;
}

.movie-card-image {
  width: 18.75rem;
  height: 26.25rem;
  border-radius: 0.5rem;
}

.movie-card-details {
  position: absolute;
  left: 50%;
  bottom: 0;
  background: var(--gray-200);
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateX(-50%);
  width: 100%;
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
}

.movie-type,
.movie-title, 
.movie-year {
  color: var(--site-bg-color);
}

.movie-title, 
.movie-year {
  margin: 0;
}

.movie-type {
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 62rem) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
